/* Light mode styles */
body {
    background-image: url(../images/light_mode_background.webp);
    background-repeat:repeat-y;
    background-size: cover; 
    background-position: center;

    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  /* Dark mode styles */
.dark-mode {
    background-image: url(../images/background_image.webp);
    background-color: #333333;
    color: #ffffff;
}
.dark-mode a{
    color: bisque;
}
.dark-mode #clock {
    color:bisque;
}

.dark-mode .note {
    color:#333333;
}
/*
#toggleModeBtn {
    position: absolute;
    top: 10px; 
    right: -10px; 
}
*/

#skipToMain {
    position: relative;
    top: -100px;
}
#skipToMain:focus {
    position: absolute;
    top: 5px;
    left: 5px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    margin-right: 20px;
    font-size: 20px;
}
nav ul li:hover {
    font-weight: bold;
}
  
nav ul li:last-child {
    margin-right: 0;
}

#clock {
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
    font-size: 72px;
    padding: 20px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 15pc;
    box-shadow: 0 0 20px rgba(198, 149, 2, 0.5);
}
ul {
    padding: 0;
    font-size:20px;
    list-style-type: none;
}

li {
    text-decoration: none;
    align-content: center;
    text-align: center;
    margin-top: 5px;
}

.completed {
    text-decoration: line-through;
}
h2 {
    text-decoration: underline;
}
h1, p {
    display: block;
}

#taskList {
    align-content: center;
    text-align: center;
    padding: 20px;
    border: 2px solid rgb(97, 97, 97);
    border-radius: 15pc;
    box-shadow: 0 0 20px rgba(198, 149, 2, 0.5);
}
#taskListTitle {
    text-decoration: underline;
    
}

#stopwatch{
    text-align: center;
}
#sw_display {
    font-size: 32px;
    margin-bottom: 20px;
}

#calculator {
    margin-top: 20px auto;
  }
  
#result {
    width: 100%;
    margin-bottom: 10px;
    font-size: 24px;
}
  
#buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 5px;
}
  
#buttons button {
    padding: 10px;
    font-size: 18px;
}


.sticky-notes {
    position: fixed;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}
  
.note {
    position: relative; 
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px 10px 10px 10px; /* Adjust padding as needed */
    margin-bottom: 10px;
    max-width: 300px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}
.delete-button {
    position: absolute;
    padding: 5px;
    cursor: pointer;
  }