/* Light mode styles */
body {
    background-image: url(images/light_mode_background.webp);
    background-repeat:repeat-y;
    background-size: cover; 
    background-position: center;

    color: #333333;
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
  /* Dark mode styles */
.dark-mode {
    background-image: url(images/background_image.webp);
    background-color: #333333;
    color: #ffffff;
}
.dark-mode a{
    color: bisque;
}
.dark-mode #clock {
    color:bisque
}

/*
#toggleModeBtn {
    position: absolute;
    top: 10px; 
    right: -10px; 
}
*/

#skipToMain {
    position: relative;
    top: -100px;
}
#skipToMain:focus {
    position: absolute;
    top: 5px;
    left: 5px;
}

.container {
    display: flex;
    align-items: center;
    max-width: 1200px;
}
#navbar{
    display: flex;
    flex-direction: row;
    align-content: center;
}

nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
}
  
nav ul li {
    margin-right: 20px;
    font-size: 20px;
}
nav ul li:hover {
    font-weight: bold;
}
  
nav ul li:last-child {
    margin-right: 0;
}

#clock {
    text-align: center;
    position: relative;
    font-weight: bold;
    font-size: 30px;
    color: #333333;
}
ul {
    padding: 0;
    font-size:20px;
    list-style-type: none;
}

li {
    text-decoration: none;
    align-content: center;
    text-align: center;
    margin-top: 5px;
}

.completed {
    text-decoration: line-through;
}
h2 {
    text-decoration: underline;
}
h1, p {
    display: block;
}

#taskList {
    align-content: center;
    text-align: center;
}
#taskListTitle {
    text-decoration: underline;
}

#stopwatch{
    text-align: center;
}
#sw_display {
    font-size: 32px;
    margin-bottom: 20px;
  }
